body
{
	margin: auto;
	width: 80%;
	background-image: url("bgi.jpg");
    background-color: #cccccc;
	padding: 10px;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
	text-align: left;
	padding: 20px;
	max-width: 600px;
	margin: auto;
	background-color: #a2b3c3;
}

tr:hover 
{
	background-color: #f5e5e5;
}